$def with (name, user_stories)

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>


<body>
<p>
    <h1>$name 's User Stories</h1>

        $for us in user_stories
        	<a href="$us["_ref"]">link to story</a> -- $us["_refObjectName"]<br />

    <br />
    <br />
    <a href="/logout">logout</a>
</p>
</body>
</html>
